<div class="container">
  <div>
    <h1><%= @flat.name %></h1>
    <p><%= @flat.details %></p>
  </div>
  <h3><%= @flat.address %></h3>
</div>

<div class="container">
  <div>
    <!-- Form to book between two days -->
  </div>
  <div>
    <h3>Details</h3>
    <div>
      <%= @flat.number_of_guests %>
      <%= @flat.price_per_night %>
    </div>
  </div>
  <div>
    <p>Share</p>
    <!-- font awesome social media links -->
  </div>
</div>
